.site-header {
    margin-bottom: 30px;
}

.site-header .wrapper-1000 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // border-bottom: 2px solid #cfd4dd;
    padding: 30px 7%;
    align-items: center;

    section.left {
        .title-logo {
            // Title - Description
            .title {
                font-family: $quicksand;
                font-size: 24px;
                text-transform: uppercase;
                opacity: 0.78;
                a {
                    color: $color-text;
                    border-bottom: none;
                    text-decoration: none;
                    outline: none;
                }
            }
            .description {
                font-family: $opensans;
                margin-top: 1px;
                font-size: 14px;
                max-width: 350px;
                line-height: 18px;
                opacity: 0.78;
            }

            // Logo
            .logo {
                height: 60px;
                margin-right: 7px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                a {
                    display: block;
                }
                img {
                    max-width: none;
                    max-height: 100%;
                }
            }
        }
    }

    section.right {
        display: flex;
        align-items: center;

        // Search
        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-bottom: -3px;
            opacity: 0.78;
            svg {
                stroke-width: 1.5;
            }
            &:hover {
                opacity: 1;
                svg {
                    color: $color-primary;
                }
            }
        }

        // Drawer
        div.drawer {
            display: none;
            padding: 0px 5px;
            margin-left: 10px;
        }
    }
}

@media (max-width: 1200px) {
    .site-header {
        padding: 0 20px;
    }
}

@media (max-width: 900px) {
    .site-header .wrapper-1000 {
        section.right {
            .navigation {
                display: none;
            }
            div.drawer {
                display: block;
            }
        }
    }
}

@media (max-width: 600px) {
    .site-header {
        padding: 0 15px;
        margin-bottom: 0;
    }
    .site-header .wrapper-1000 {
        padding: 10px 0 15px 0;
        border-bottom: none;
        section.left {
            .title-logo {
                .title {
                    font-size: 20px;
                }
                .description {
                    font-size: 12px;
                }
            }
        }
        section.right {
            .navigation {
                display: none;
            }
            div.drawer {
                display: block;
            }
        }
    }
}

/* Drawer */
.drawer-handle {
    // position: relative;
    // z-index: 501;
    // width: 30px;
    // height: 35px;
    // cursor: pointer;
    // opacity: 0.78;

    display: block;
	width: 36px;
	height: 36px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
    z-index: 11;

    .bar {
		background: black;
		border-radius: 1.5px;
		display: block;
		height: 3px;
		right: 0;
		opacity: 1;
		position: absolute;
		transform: rotate(0deg);
		width: 24px;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
	}
	.bar.first {
		top: 6px;
	}
	.bar.second {
		top: 15px;
		opacity: 1;
        transition: opacity 0.4s;
        -webkit-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        -ms-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
	}
	.bar.small {
		top: 24px;
		width: 16px;
		right: 0;
	}
}

.drawer-handle.open {
    .bar:nth-child(1) {
        top: 17px;
        right: 0;
        transform: rotate(135deg);
    }
    .bar:nth-child(2) {
        opacity: 0;
    }
    .bar.small {
        top: 17px;
        transform: rotate(-135deg);
        width: 24px;
        right: 0;
    }
}

.drawer-menu {
    position: fixed;
    z-index: 101;
    transform: translateY(-150%);
    width: 100%;
    transition: 400ms;
    text-align: left;
    font-family: $font-primary;
    font-weight: 400;
    background: white;
    border-bottom: 5px solid black;
    top: 85px;
    height: 100vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
    ul.nav {
        list-style: none;
        padding: 0;
    }
    a {
        color: $color-text;
        letter-spacing: 0.1em;
        display: block;
        padding: 18px 20px;
        font-size: 18px;
        &:hover {
            color: $color-primary;
        }
    }
    .nav-current a {
        border-left: 2px solid #8a8a8a;
        background: #f3f3f3;
    }

    &.open {
        transform: translateY(-0%);
    }
}

@media (min-width: 750px) {
    .drawer-menu {
        top: 120px;
    }
}


img.mkLogo {
    width: 69px;
}

@media (min-width: 768px) { // mediumUp
    img.mkLogo {
        width: 94px;
    }
}

@media (min-width: 992px) { // largeUp
    img.mkLogo {
        width: 134px;
    }
}

li.nav-contact-sales {
    margin-left: 15px;
    margin-top: 15px;

    a {
        padding: 0;
        display: block;
        background: black;
        color: white !important;
        line-height: 47px;
        width: 200px;
        text-align: center;

        &:hover {
            background: $color-primary;
        }
    }
}

@media (min-width: 901px) {
    li.nav-contact-sales {
        margin-top: 0;
    }
}

@media (min-width: 1300px) {
    li.nav-contact-sales {
        margin-left: 9%;
    }
}

@media (min-width: 1300px) {
    li.nav-contact-sales {
        margin-left: 15%;
    }
}
