//FONTS
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;
$baskerville: 'Libre Baskerville', serif;
$font-primary: $lato;

//COLORS
$color-primary: #2196f3; //sky blue
$color-links: $color-primary;
$color-text: #191919;
$color-text-lighter: #858585;
$hightlight: #69ff85;
$color-footer-text: $color-text;
$color-footer-background: white;

// Floating Header
$fh-color-text: #111;
$fh-color-background: white;