//FONTS
$quicksand: Quicksand, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$opensans: 'Open Sans', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;
$baskerville: 'Libre Baskerville', serif;
$font-primary: $opensans;

//COLORS
$color-primary: #2196f3; //sky blue
$color-links: $color-primary;
$color-text: #191919;
$color-text-lighter: #858585;
$hightlight: #69ff85;
$color-footer-text: white;
$color-footer-background: black;

// Floating Header
$fh-color-text: #111;
$fh-color-background: white;
